body{
  background-color: white;
}

.BorrowMe_Title {
  text-align: center;
  line-height: 650px;
  position: relative; left:-9px;
}
#App{
  width:100%;
}
.navbar-light {
  background-color: lightskyblue;
}
/* #nav_bar{
  color:red;
  width:100%;
} */
/* Login.js CSS  /////////////////////////////*/
.Login_Page form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 40px;
  box-shadow:10px 10px 30px black; 
  font-family: "Open Sans", sans-serif;
}
.header {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.customForm {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customFormGroup{
  display: form;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}
.errorMessage{
  padding:0px;
  color: red; 
}
.form_inputs{
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 5px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
  border-color: black;
  margin-bottom: 1px;
  transition: all 250ms ease-in-out;
  box-shadow: 0px 0px 4px 0.8px;
}

.LoginButton{
  font-size: 15px;
  padding: 5px 20px; 
  border: 0; 
  font-family: "Open Sans", sans-serif;
  background-color: #3498db;
  color: #fff;
  border-radius: 3  px; 
  transition: all 250ms ease-in-out;
  cursor: pointer; 
  margin-bottom: 10px;
  
}
.LoginButton:focus{
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}
.RegisterButton{
  font-size: 15px;
  padding: 5px 20px; 
  border: 0; 
  background-color: #3498db;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  border-radius: 3px; 
  transition: all 250ms ease-in-out;
  cursor: pointer; 
  margin-bottom: 10px;
}
.RegisterButton:focus{
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}
/*end Login.js CSS/////////////////////////////// */


/*Home.js CSS/.//////////////////////////////////////*/
#Items_Table{
  visibility:visible;
  width : 80%;
  margin-left:20px;
  margin-right:20px;
}
/* .table{
  margin-left:20px;
  margin-right:20px;
  
} */
.row{
  /* margin-left:20px;
  margin-right:20px; */
  margin-bottom: 15px;
}




/*end Home.js CSS///////////////////////////////////*/
#dropdown{
  float: left;
  clear:left;
  width: 250px;
  margin-left:100px;
  margin-bottom: 15px;
}
.InputLabels{
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
}


.submitInfoButton {
  /* display: inline-block; */
  float: left;
  clear:left;
  
}

.Input{
  width:250px;
  float: left;
  text-align:left;
  
}
.Functionality{
  margin-left: 20px;
  margin-right: 20px;
}
/* #search_header{
  margin-left: 20px;
  margin-right: 20px;
} */

/* Responsive Layout */
@media(min-width: 768px) {
  .container {
    max-width: 100%;
    margin-left: 20px;
    margin-right:20px;
    padding: 0px;
  }
}




