.BorrowMe_Title {
  text-align: center;
  line-height: 650px;
  position: relative; left:-9px;
}
.Login_Page form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.InputLabels{
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
}


.submitInfoButton {
  /* display: inline-block; */
  float: left;
  clear:left;
  
}

.Input{
  width:250px;
  float: left;
  text-align:left;
  
}
